<!-- Area Header con bg de futbol -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">RENT A CAR</p>
                        <h1>Reserva ya el carro que deseas rentar para tu aventura!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin Header con bg de futbol -->
<!-- Seccion Productos -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Nuestros</span> Productos</h3>
                    <p>Encuentra las más modernas y poderosas carrocerías. Más de 50 tipos de carros de marcas reconocida a tu disposición.</p>
                </div>
            </div>
        </div>
        <div class="row product-lists">
            <div class="col-lg-4 col-md-6 text-center Gato">
                <div class="single-product-item">
                    <h3>Camisa Garoppolo</h3>
                    <p class="product-price"><span>Unidad</span> ₡25.000 </p>
                    <a class="cart-btn" href="@Url.Action("Cart", "Home")">
                       Reservar
                    </a>
                </div>
            </div>
            </div>

        </div>
    </div>
<!-- Carrusel de patrocinadores -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/bmw.jpg" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/hyundai.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/nissan.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/tesla.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/img/patrocinadores-logos/toyota.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>